<!--
  Generated template for the JobPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
        <ion-navbar color="primary" no-border-bottom>
      
          <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
          <ion-title>Job</ion-title>
      
        </ion-navbar>
</ion-header>


<ion-content>

  <div class="head">
    <img class="image" src="{{BaseURL + job.businessimage}}">   
    <p class="subtitle" padding-left text-capitalize>{{job.businessname}}, {{job.businesstype}}</p>
    <p class="title" padding-left text-capitalize>{{job.jobtype}}</p>
  </div>

    <ion-segment [(ngModel)]="selectedSegment" color="primary">
        
      <ion-segment-button value="detail">
        Dettagli
      </ion-segment-button>
      <ion-segment-button value="requests">
        Richieste
      </ion-segment-button>
      <ion-segment-button value="map" (click)="loadMap()">
        Map
      </ion-segment-button>
                          
    </ion-segment>

    <div [ngSwitch]="selectedSegment" padding-top>
<!-- INFO LAVORO, INFO LUOGO-->
      <ion-list *ngSwitchCase="'detail'">
          
        <ion-list-header no-margin no-lines>
          <b>Info Lavoro</b>
        </ion-list-header>
      
        <ion-item>
            <ion-label text-capitalize>
               {{job.jobtype}}
              </ion-label>
          <ion-icon name='briefcase' item-start></ion-icon>
      
        </ion-item>

        <ion-item>
          <ion-label text-capitalize>
              {{job.positionnumber}} posizioni aperte
            </ion-label>
          <ion-icon name='people' item-start></ion-icon>
    
        </ion-item>

        <ion-item>
          <ion-label text-capitalize>
             dal {{job.initperiod}} al {{job.endperiod}}
            </ion-label>
          <ion-icon name='calendar' item-start></ion-icon>
    
        </ion-item>

        <ion-item>
          <ion-label text-capitalize text-center text-wrap>
              {{job.initday}} - {{job.endday}} / {{job.inittime}}-{{job.endtime}}<br> <p *ngIf="job.extra">(con eventuali giorni e ore extra)</p>
            </ion-label>
          <ion-icon name='time' item-start></ion-icon>
    
        </ion-item>

        <ion-item>
          <ion-label>
              {{job.cash}}
            </ion-label>
          <ion-icon name='cash' item-start></ion-icon>
    
        </ion-item>

        <ion-list-header padding-top>
          <b>Info Luogo</b>
        </ion-list-header>

        <ion-item>
          <ion-label text-capitalize>
            {{job.businesstype}}
          </ion-label>
          <ion-icon name='restaurant' item-start></ion-icon>
        </ion-item>  

        <ion-item>
            <ion-label text-capitalize>
              {{job.businessname}}
            </ion-label>
          <ion-icon name='mail' item-start></ion-icon>
        </ion-item>

      <ion-item>
          <ion-label text-capitalize>
              {{job.businessaddress}}
          </ion-label>
          <ion-icon name='pin' item-start></ion-icon>
        </ion-item>

        <ion-item>
            <ion-label text-capitalize>
                {{job.businesscity}}({{job.businessprov}})
            </ion-label>
            <ion-icon name='map' item-start></ion-icon>
          </ion-item>

      
      

      <ion-list-header no-margin padding-top>
        <b>Info contatti</b>
      </ion-list-header>

      <ion-item>
          <ion-label text-capitalize>
              {{job.businessphonenum}}
            </ion-label>
          <ion-icon name='call' item-start></ion-icon>
    
        </ion-item>

        <ion-item>
            <ion-label>
                lamaestria@gmail.com
            </ion-label>
            <ion-icon name='mail' item-start></ion-icon>
        </ion-item>

        <ion-list-header no-padding padding-top padding-left>
          <b>Descrizione</b>
        </ion-list-header>

        
          <ion-item no-lines text-wrap>
           {{job.description}}
          </ion-item>
          
      </ion-list>
        
      <ion-list *ngSwitchCase="'requests'">
        <!-- *ngFor ="" -->
          <ion-item *ngFor="let request of job.jobrequests" (click)="goToProfilePage(request.userId)">
              <ion-avatar item-start>
                <img src="{{BaseURL + request.imageuser}}">
              </ion-avatar>
              <h2 text-capitalize>{{request.nameuser}} {{request.surnameuser}}</h2>
              <ion-note><small>{{request.date}}</small></ion-note>
              <ion-icon [name]="request.status === 'accepted' ? 'thumbs-up': request.status === 'refused' ? 'thumbs-down' :  '' " 
                        [color]="request.status === 'accepted' ? 'secondary' : 'danger' " item-end></ion-icon>
            </ion-item>

      </ion-list>

      <ion-list *ngSwitchCase="'map'" style="height:100%">
        
      </ion-list>
        
    </div>

    <!-- TASTO SE NON è STATA INVIATA LA RICHIESTA-->
  <ion-fab bottom right [hidden]="sended" *ngIf="user">
      <button ion-fab (click)="sendJobRequest()">
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-fab>
    <!-- TASTO SE è STATA INVIATA LA RICHIESTA-->
    <ion-fab bottom right *ngIf="sended">
      <button ion-fab>
        <ion-icon name="heart"></ion-icon>
      </button>
    </ion-fab>

</ion-content>
