page-jobadslist {

    p{
        color: #222 !important;
    }
    ion-item{

        button{
            background-color: white;
            margin-top: 0 !important;
        }                

    }   

}
