<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="primary-dark">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content *ngIf="user">
    
    <ion-list>
        <button ion-item clear menuClose detail-none padding-top color="profile-btn">
              <ion-avatar>
                <img src="{{BaseURL+user.image}}">
              </ion-avatar>
              <p text-center text-capitalize><b>{{user.name}} <br> {{user.surname}}</b></p>
        </button>
    
      <button menuClose ion-item detail-none *ngFor="let p of pages" (click)="openPage(p)">
          <ion-icon [name]="p.icon" item-left></ion-icon>
        {{p.title}}
      </button>
    </ion-list>

  </ion-content>

  <ion-content *ngIf="businessuser">
    
    <ion-list>
        <button ion-item clear menuClose detail-none padding-top color="profile-btn">
              <ion-avatar>
                <img src="{{BaseURL+businessuser.image}}">
              </ion-avatar>
              <p text-center text-capitalize><b>{{businessuser.businesstype}} <br> {{businessuser.businessname}}</b></p>
        </button>
    
      <button menuClose ion-item detail-none *ngFor="let p of pages" (click)="openPage(p)">
          <ion-icon [name]="p.icon" item-left></ion-icon>
        {{p.title}}
      </button>
    </ion-list>

  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>